<h1><%= @issue.title %></h1>

<%= link_to 'Edit', edit_issue_path(@issue) %>
<% if policy(Issue).destroy? %>
  | <%= link_to 'Delete', issue_path(@issue), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>Description: <%= @issue.description %></p>
<p>State: <%= @issue.state %></p>

<%= link_to 'Back to Issues', root_path %>
